
.channel{
    /*background-color: #eee;*/
    /*padding: 0px;*/
    cursor: pointer;
    box-shadow: 1px 1px 1px #eee;
    /*margin-left:20px;*/
}
.channel:hover{
    box-shadow: 2px 2px 1px #eee;
}

.channel-name{
    color: #999;
}
.channel-img{
    height: 50px;    
    border-radius: 5px 5px 0px 0px;
}

.facebook{
    background-color: #8b9dc3;
    color: white ;
}

.twitter {
    color: white;
    background-color: #0084b4;
}

.google-plus{
    color: white;
    background-color: #D34836;
}
.youtube {
    color: white;
    background-color: #b31217;
}

.instagram {
    color: white;
    background-color: #3f729b;
}


.rss {
    color: white;
    background-color: #f26522;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: 50px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}