
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <center>
       <button type="button" class="btn btn-info">Upgrade Account(unlimited)</button>
     </center>
     <div class="panel panel-default" style="margin-top:53px">
      <div class="panel-heading">
        <h3 class="panel-title">
          All Channels  
        </h3>
      </div>
      <div class="panel-body">

        <ul class="list-group" >

          <a href="/facebook" class="list-group-item" ><i class="fa fa-facebook-square fa-1x"></i> <span>Facebook</span></a>
          <a href="/twitter" class="list-group-item" ><i class="fa fa-twitter-square fa-1x"></i> <span>Twitter</span></a>


          <a href="/google" class="list-group-item" ><i class="fa fa-google-plus-square fa-1x"></i> <span>+ Google</span></a>
          <a href="/youtube" class="list-group-item" ><i class="fa fa-youtube-play fa-1x"></i> <span>Youtube</span></a>


          <a href="/instagram" class="list-group-item" ><i class="fa fa-instagram fa-1x"></i> <span>Instagram</span></a>
          <a href="/rss" class="list-group-item hidden" ><i class="fa fa-rss-square fa-1x"></i> <span>RSS</span></a>


          <a href="/vimeo" class="list-group-item" ><i class="fa fa-vimeo-square fa-1x"></i> <span>Vimeo</span></a>
          <a href="/pinterest" class="list-group-item hidden" ><i class="fa fa-pinterest-square fa-1x"></i> <span>Pinterest</span></a>

          <a href="/tumblr" class="list-group-item" ><i class="fa fa-tumblr-square fa-1x"></i> <span>Tumblr</span></a>


        </ul>

      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <center>
      <h4> Add a channel </h4>  
    </center>

    <div class="col-md-12" style="margin-top:30px">
      <div class="col-xs-2"> <span class="label label-default">Step 1</span> </div>

      Copy this script into your html <b><i>(ignore if you have have done this already)</i></b> 

      <div class="row well " style="color:#D34836;word-break:break-all" >
        &lt;script&gt;
        (function (src)&#10;{&#10;  var s,&#10;      r,&#10;      t;&#10;  r = false;&#10;  s = document.createElement(&#39;script&#39;);&#10;  s.type = &#39;text/javascript&#39;;&#10;  s.src = src;&#10;  s.onload = s.onreadystatechange = function() {&#10;    if ( !r &amp;&amp; (!this.readyState || this.readyState == &#39;complete&#39;) )&#10;    {&#10;      r = true;&#10;      window.initSocialPlugin(&#39;{{currentUser.token}}&#39;);&#10;    }&#10;  };&#10;  t = document.getElementsByTagName(&#39;script&#39;)[0];&#10;  t.parentNode.insertBefore(s, t);&#10;})(&quot;//localhost:9000/assets/js/widget/social_plugin.widget.min.js&quot;)&#10;&#10;&#10;;
        &lt;/script&gt;
      </div>
    </div>


    <div class="col-md-12">
     <div class="col-xs-2"> <span class="label label-default">Step 2</span> </div>

     Connect to a channel 
     <!-- various channels platforms         -->
     <div class="row">

      <!-- <facebook channel here -->
      <div class="col-xs-4 channel"> 
        <button type="button" class="btn btn-default btn-lg btn-block facebook" ng-click="loginOauth('facebook')" >
          <i class="fa fa-facebook-square fa-1x"></i>
          Facebook 
        </button>
      </div>
      <!-- end of facebook tab -->

      <!-- <twitter here -->
      <div class="col-xs-4 channel">
        <div class="channel-img ">
          <button type="button" class="btn btn-default btn-lg btn-block twitter" ng-click="loginOauth('twitter')" >
            <i class="fa fa-twitter-square"></i>
            Twitter  
          </button>

        </div>
      </div>
      <!-- end of twitter tab -->

      <!-- <+ google channel here -->
      <div class="col-xs-4 channel">
        <div class="channel-img ">
         <button type="button" class="btn btn-default btn-lg btn-block google-plus" ng-click="loginOauth('google')">
          <i class="fa fa-google-plus-square fa-1x"></i>
          + Google  
        </button>

      </div>

    </div>
    <!-- end of + google tab -->
  </div>

  <div class="row" style="margin-top:30px">
    <!-- <youtube channel here -->
    <div class="col-xs-4 channel">
      <div class="channel-img ">
        <button type="button" class="btn btn-default btn-lg btn-block youtube">
          <i class="fa fa-youtube-play fa-1x"></i>
          Youtube  
        </button>
      </div>

    </div>
    <!-- end of yutube tab -->

    <!-- <instagram channel here -->
    <div class="col-xs-4 channel">
      <div class="channel-img ">
        <button type="button" class="btn btn-default btn-lg btn-block instagram" ng-click="loginOauth('instagram')">
          <i class="fa fa-instagram fa-1x"></i>
          Instagram  
        </button>
      </div>

    </div>
    <!-- end of instagram tab -->


    <!-- <ress channel here -->
    <div class="col-xs-4 channel hidden">
      <div class="channel-img ">
        <button type="button" class="btn btn-default btn-lg btn-block rss" ng-click="loginOauth('rss')">
          <i class="fa fa-rss-square fa-1x"></i>
          RSS Feed
        </button>
      </div>

    </div>
    <!-- end of ress tab -->
  </div>


  <div class="row" style="margin-top:30px">
    <!-- <youtube channel here -->
    <div class="col-xs-4 channel">
      <div class="channel-img ">
        <button type="button" class="btn btn-default btn-lg btn-block vimeo" ng-click="loginOauth('vimeo')">
          <i class="fa fa-vimeo-square fa-1x"></i>
          Vimeo  
        </button>
      </div>

    </div>
    <!-- end of yutube tab -->

    <!-- <instagram channel here -->
    <div class="col-xs-4 channel hidden">
      <div class="channel-img ">
        <button type="button" class="btn btn-default btn-lg btn-block pinterest" ng-click="loginOauth('pinterest')">
          <i class="fa fa-pinterest-square fa-1x"></i>
          Pinterest 
        </button>
      </div>

    </div>
    <!-- end of instagram tab -->


    <!-- <ress channel here -->
    <div class="col-xs-4 channel">
      <div class="channel-img ">
        <button type="button" class="btn btn-default btn-lg btn-block tumblr" ng-click="loginOauth('tumblr')">
          <i class="fa fa-tumblr-square fa-1x"></i>
          Tumblr
        </button>
      </div>

    </div>
    <!-- end of ress tab -->
  </div>       



</div>

<!-- rnd of channel platforms -->
</div>
</div>
</div>


</div>


<!--

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack JP v0.0.21 |
      <a href="https://twitter.com/jimobrienn">@jimobrienn</a> |
      <a href="https://github.com/jimobrien/generator-angular-fullstack-jp/issues?state=open">Issues</a></p>
    </div>
  </footer>



  <div >
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">I m a modal!</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
          </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
  </div>

  -->