<div class="container" style="">
	<div class="row">
		<center>
			<button type="button" class="btn btn-info">Upgrade Account(unlimited)</button>
		</center>
	</div>
	<div class="row" style="margin-top:20px">

		<div class="col-sm-4" >
			
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h3 class="panel-title">
						Facebook Channels  
						<span class="badge pull-right">{{hasFacebookAccounts()}}</span>
					</h3>
				</div>
				<div class="panel-body">
					<p class="bg-warning text-center text-muted" ng-show="!hasFacebookAccounts()">
						No channels added yet, your widget would not display anything
					</p>
					<ul class="list-group" ng-show="hasFacebookAccounts">
						<a href="#" class="list-group-item" ng-class="channel.name == currentChannel.name ? 'active': '' "
						ng-repeat="(id,channel) in currentUser.facebook.accounts track by $index"
						ng-click="clickOnChannel(channel)"
						>
						{{channel.name}} 
						<span class="label" ng-class="channel.isActive?'label-success': 'label-default' " style="display:inline-block;float:right">
							<i ng-show="channel.isLoading" class="fa fa-pulse fa-spinner"></i>
							<span ng-show="channel.isActive" ng-click="activate(channel, 0)">Active </span>
							<span ng-show="!channel.isActive" ng-click="activate(channel, 1)">Activate</span>
						</span>

					</a>			
				</ul>

			</div>
		</div>
	</div>

	<div class="col-sm-8" style="background-color:#f5f5f5;border-top-left-radius: 3px;
	border-top-right-radius: 3px;">

	<p class="bg-info text-center" ng-hide="currentChannel.name" > Please pick a channel to edit </p>
	<div class="col-sm-10 col-sm-offset-1" ng-show="currentChannel.name">
		<br>
		<div class="row">
			<div class="col-xs-6 col-md-4 col-md-offset-4">
				<a href="#" class="thumbnail">
					<img ng-src="{{currentChannel.picture.data.url}}" alt="{{currentChannel.name}}">
				</a>
			</div>
		</div>

		<h4 class="text-muted text-center"> {{currentChannel.name}}</h4>
		<p class="text-center text-info"><small><i>{{currentChannel.about}}</i></small></p>
		<br>
		<center>
			<p > Put this div in your html:
				<section style="background-color:#fff;padding:10px" class="text-danger">&lt;div id='socialPlugin-facebook-{{currentChannel.id}}'&gt;&lt;/div&gt;</section>
			</p>
		</center>
		
		<div class="col-xs-6 col-xs-offset-3 hidden">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="submit()">Submit</button>
		</div>

	</div>
	
	
</div>

</div>
</div>

